
body {
    font-size: 0.9rem;
    font-family: sans-serif;
    min-height: 100vh;
    background: linear-gradient(rgba(20, 30, 48, .8), rgba(36, 59, 85, .8));
}
.header {
    background-color: #03e9f4;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.logo img {
    width: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0,0,0,.5);
    transition: all 0.3s ease-in-out;
}
.logo img:hover {
    box-shadow: 1px 1px 4px rgba(0,0,0,.4);
    scale: 1.1;
}
.logo img:active {
    scale: 0.9;
}
.menu ul {
    display: flex;
    gap: 20px;
    font-size: 1em;
    font-weight: bold;
    color: #141e30;
}
.menu ul li {
    position: relative;
    transition: all 0.3s ease-in-out;
}
.menu ul li:hover {
    color: rgba(20, 30, 48, .8);
}
.menu ul li::after {
    content: '';
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(20, 30, 48, .8);
    scale: 0 1;
    transition: all 0.3s ease-in-out;
}
.menu ul li:hover::after {
    scale: 1 1;
}
.title {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
.main {
    padding: 0 20px;
    margin-bottom: 20px;
}
section {
    padding: 20px 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.subtitle {
    font-size: 1.1em;
    color: white;
    text-align: center;
}
.form {
    color: #fff;
    position: relative;
    width: min(100%, 400px);
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.input-wrapper {
    position: relative;
}
.input-form {
    width: 100%;
    font-size: 1em;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.input-wrapper label {
    position: absolute;
    top:0;
    left: 0;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
.input-form:focus~label, .input-form:valid~label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 0.8em;
}
.message {
    position: absolute;
    bottom: 40px;
    right: 5px;
    width: 300px;
    color: #03e9f4;
    text-align: center;
}
button {
    font-size: .9em;
    background-color: rgb(200, 233, 244);
    color: #141e30;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px  rgba(0,0,0,.6);
    transition: all 0.2s ease-in-out;
}
button:hover {
    box-shadow: 2px 2px 4px 1px;
}
button:active {
    scale: 0.9;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

select, .div-inputs input {
    padding: 2px 4px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #03e9f4;
    
}
select option {
    background-color: white;
    color: #243b55;
    font-size: .9em;
}
/* ads styles */
.ads-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.div-ad {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .8);
    gap: 10px;
    padding: 10px 10px 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    transition: all .3s ease-in-out;
    position: relative;
}
.image-wrapper {
    width: 100%;
}
.image-ad {
    display: flex;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.div-ad .link-ad-info {
    position: absolute;
    inset: 0;
}
.ad-title {
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

/* message delete ad */
.message-delete {
    padding: 0 20px;
    text-align: center;
    position: absolute;
    z-index: 2;
    display: grid;
    place-content: center;
    gap: 10px;
    background: rgb(255, 255, 255, 0.8);
    display: none;
}
.message-delete>div {
    justify-content: space-around;
}
.filter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 0.9em;
}

/* filter */
.filter>div {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) {
    .header, .main {
        padding: 0 30px;
    }
 } 
 
  /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) {
    body {
        font-size: 1rem;
    }
    .header, .main {
        padding: 0 40px;
    }
    .div-ad:hover {
        scale: 1.05;
        background-color: rgba(255, 255, 255, .9);
    }
 }
 
  /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) {
    .header, .main {
        padding: 0 50px;
    }
 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .header, .main {
        padding: 0 60px;
    }
}